<div class="container">
  <app-profile-editor (voted)="onVoted($event)"></app-profile-editor>
  <hr>
  <div  *ngFor="let course of courses | async" >
    <div  class="card" style="width: 100%; margin-top: 10px" *ngIf="course.username==username && course.password==password">
      <div class="card-body" *ngFor="let course of courses | async">
        <h5 class="card-title">编号：{{course.id}}</h5>
        <h5 class="card-subtitle mb-2 text-muted">用户名：{{course.username}}</h5>
        <p class="card-text">用户邮箱：{{course.email}}</p>
        <p class="card-text">用户密码：{{course.password}}</p>
      </div>
    </div>
  </div>
</div>
